<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">
<br>
<div>
  <button mat-raised-button color = "primary" (click) = "addClientFormOpen = !addClientFormOpen">Add Client</button>
</div>
<br>
<div>
  <clientform *ngIf = "addClientFormOpen"
  (update) = "add($event);addClientFormOpen = false"
  (closeEdit) = "addClientFormOpen = false"
  [formType] = "'Add Client'"
  >
  </clientform>
</div>
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let client of clients;let i = index">
      <mat-expansion-panel-header>
        
        <mat-panel-title>
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="client.saved" (change) = "changeInventory()"></mat-checkbox>-->
        &nbsp;
         {{client.name}}
        </mat-panel-title>
        <mat-panel-description>
          <span  [ngClass]="[client.result=='Will pay' ? 'green' : 'red']">{{client.result}}</span>
          </mat-panel-description>
        <!---  <button mat-raised-button color="warn" (click)="deleteClient(client.id)">Delete</button> -->
        <button 
        *ngIf = "i!=rowToDelete"
        mat-raised-button
        color = "warn"
        (click) = "moveToDeleteState(i)"
      >
        Delete
      </button> 
      <button 
        *ngIf = "i==rowToDelete"
        mat-raised-button
        color="warn"
        (click) = "deleteClient(client.id)"
      >
      Delete Client
      </button> 
      <button 
        *ngIf = "i==rowToDelete"
        mat-raised-button
        (click) = "rowToDelete = null"
      >
        Cancel
      </button> 
      </mat-expansion-panel-header>
      <p><b>Years: </b> {{client.years}}</p>
      <p><b>Salary: </b> {{client.salary}}</p>
      <button mat-raised-button color="primary" (click) = "editstate[i] = !editstate[i]">Edit</button>
      &nbsp;
      <button *ngIf = "!client.result" mat-raised-button color="primary" (click)="predict(i)">Predict</button>
      &nbsp;
      <button *ngIf = "client.result&&!client.saved" mat-raised-button color="primary"(click) = "updateResult(i)">Save</button>
      <button mat-raised-button disabled *ngIf = "client.saved">saved</button> 
      <clientform
       [hidden] = "!editstate[i]"
       [name] = "client.name"
       [years] = "client.years"
       [salary] = "client.salary"
       [id] = "client.id"
       [formType] = "'Update Client'"
       (update) = "update($event);editstate[i] = !editstate[i]"
       (closeEdit) = "editstate[i] = !editstate[i]"
      >
    </clientform>
 
    </mat-expansion-panel>
  </mat-accordion>

</div>